
<head>
  <title>Twap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
 <div id="newtweet">
      <p class="btn"><%= link_to 'つぶやく', new_tweet_path %></p>
 </div>