<% @tweets.each do |tw| %>
<head>
  <title>Twap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<dvi id="tweet">
 <p>
    <%= tw.message %>
    <%= (Time.current-tw.tdate).to_i/60%>分前
    <%= link_to '削除', tweet_path(tw), method: :delete %>
    <%= link_to '表示', tweet_path(tw) %>
    <%= link_to '編集', edit_tweet_path(tw) %>
 </p>
</dvi>

<% end %>

