#container {
    width: 800px;
}

#content {
    width: 500px;
    background-color: #00FFFF;
    float: right;
}

#profile {
    width: 200px;
    background-color: #00FFFF;
    float: left;
}

#newtweet {
    width: 200px;
    background-color: #00FFFF;
    float: left;
}

#tweet {
    width: 200px;
    background-color: #00FFFF;
    float: left;
}

.btn a {
    font-size: 10px;
    font-weight: bold;
    color: #00FFFF;
    background-color: #FF00FF;
    padding: 10px 20px;
    border-radius: 5px;
    float: left;
}
